.parent{display:block;
  border:0px;
  width: 1110px;
  height: 1110px;
  margin:auto;
     }
      
   body{ 
     font-family:calibri, serif;
    
     }
    
   div ul{ margin:0px;
          padding:0px;
         overflow: hidden;
        
         }
   div li{ list-style-type: none;
           float: left;}
   div a{ color:white ;
          display: inline-block;
         text-decoration: none;
         padding: 20px 30px;
         text-decoration: underline;
         
        }        
    
   .one{ 
       display:flex ;
       height: 120px ;
       text-align:left;
       text-transform: capitalize; 
       border:0px;
       width: 1107px;
       float:left;
       
       
       background-color:rgb(255, 255, 255);
      }
    
   .two{ 
       display:inline-block;
       height: 60px;
       width: 1069px; 
       background:rgb(0, 0, 0);
       border:0px;
       padding: 20px;
      
       
      }
    
   .three{ 
       display:flex; 
       height: 214px;
       width: 1110px;
       background-image:url(../images/promotion.jpg);
       border:0px;
    }
    
    .four{ display:inline-flexbox;
      height: 480px;
      width: 70%;
      border:0px;
    
    
      background-color:#ecabab;
      float: left;
     }
    
     .five{ display:flex;
      height: 480px;
      width: 30%;
      border:0px;
      background-color:#9b9292;
      position: relative
      
     }
     
     .six{ display:inline-block;
       
       height:auto;
       width: 1110px;
       background-color:#000000;
       border:0px;
        } 
   
   
    
       @media screen and (max-width: 768px){
         body {  background-color: rgb(255, 255, 255);
            }
   
          .four{ display:inline-flexbox;
            height: 480px;
            width: 100%;
            border:0px;
          
          
            background-color:#ecabab;
            float: left;
          }
          .five{ display:none;
              height: 480px;
              width: 30%;
              border:0px;
              background-color:#9b9292;
              position: relative
         /* pour placer le menu à la verticale   !! à revoir   */
           }
           .div ul {
             display: none;
             list-style-type: none;
             
           }
           .div input [ type=checked]:checked+ul{ 
             display: flex;
             flex-flow: column wrap;
           }
        
         
       }
